@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: #1ca9c9;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    height: 70px;
    margin-left: 10px;
}

.name{
    
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
}



